/*
* {
  border: 1px solid red;
}
*/

body {
  width: 100%;
  height: auto;
  background: url(../images/main/donatello.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  background-size: cover;
}
