* {
/*
  border: 1px solid red;
*/
  margin: auto;
  padding: 0px;
}

body {
  background-color: #4B2C20;
}

.whole {
  background-image: url(../images/20170907/oko-vegan%20logo-negativ-korbeneltart-op10.png);
  background-repeat: repeat;
  background-size: contain;
  position: fixed;
  top: 0px;
  padding: 25px 0px 0px 0px;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

.uprow {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, .15);
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0px 0px;
  text-align: center;
}

.menusor {
  font-family: Lobster;
  color: white;
  margin: 10px;
  font-size: 32px;
  position: relative;
  display: inline-block;
}

.kozcim {
  margin: 25px 0px 5px 0px;
  font-family: Lobster;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  color: white;
}

.bg {
  margin: auto;
  width: 80%;
  padding: 0px;
  height: auto;
}

.text {
  border: 1px solid rgba(255,255,255,.25);
  border-radius: 12px;
  margin: 0px 0px 25px 0px;
  background-color: rgba(255,255,255,.2);
  height: auto;
  display: inline-block;
  padding: 10px;
}

.defimg_fekvo {
  width: 100%;
  max-width: 480px;
  float: left;
  border-radius: 12px;
  margin: 0px 10px 10px 0px;
  transition: box-shadow 1s;
}

.defimg_allo {
  width: 100%;
  max-width: 240px;
  float: right;
  border-radius: 12px;
  margin: 0px 0px 10px 10px;
  transition: box-shadow 1s;
}

.defimg_fekvo:hover,
.defimg_allo:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .45);
}

.leiras {
  font-family: Roboto Slab;
  font-size: 14px;
  line-height: 20px;
  color: white;
}
