/* PARAGRAPH AND HEADING STYLING */

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
}

p,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', sans-serif;
}

h1,
p {
  color: rgba(255, 255, 255, 1);
}

h1 {
  font-family: MedievalSharp;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
}

h2 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 200;
}

h2,
h3 {
  color: rgb(30, 60, 40);
}

h4 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
}

h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
}

h4,
h5 {
  color: rgba(93, 146, 170, 1);
}


/* DIV STYLING */

.main {
  width: 100%;
  height: 1080px;
  padding: 0px;
  overflow: hidden;
  background-image: url("../images/main/mainBackgroundB.jpg");
  background-position: top;
  background-size: cover;
}

.mainB {
  width: 100%;
  height: 1080px;
  padding: 0px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity 3s;
  transition-delay: 1s;
  background-image: url("../images/main/mainBackground_mut.jpg");
  background-position: top;
  background-size: cover;
}

.mainB:hover {
  opacity: 1;
}

.header {
  width: 100%;
  height: auto;
  min-width: 200px;
  max-height: 160px;
  margin: 20px auto;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-left: 0;
  border-right: 0;
  padding: 10px;
  background-image: url("../images/main/evilSkull75.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 999;
}

.processDate {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 15px 0;
}

.processName {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: rgb(233, 233, 233);
  border-top: 1px solid grey;
  padding: 15px 0;
}

.lessonBoxWhite {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  padding: 15px 0;
}


/* CSS – ANIMATION – SPACE INVADERS ON THE MOVE:) */

.lessonBoxAnimation {
  width: 100%;
  height: 820px;
  background-image: url("../images/20170204/spaceinvadersBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;
  padding: 15px 0;
  overflow: hidden;
}

.motherShip,
.spaceShip  {
  padding: 0;
  position: relative;
  width: 145px;
  height: 80px;
  animation: movin 3s infinite;
  animation-timing-function: ease-in-out;
}

.motherShip {
  top: 60px;
  animation-direction: alternate;
}

.spaceShip {
  top: 375px;
  animation-direction: alternate-reverse;
}

@keyframes movinOwn {
    from {left: 150px;}
    to {left: 1550px;}
}

@keyframes movin {
    from {left: 200px;}
    to {left: 1500px;}
}

.invaderLine1,
.invaderLine2,
.invaderLine3 {
  left: 100px;
  padding: 0;
  position: relative;
  width: 1448px;
  height: 90px;
  animation: movinLine 2s infinite;
  animation-timing-function: steps(5);
}

.invaderLine1,
.invaderLine3 {
  animation-direction: alternate;
}

.invaderLine1 {
  top: 75px;
}

.invaderLine2 {
  top: 110px;
  animation-direction: alternate-reverse;
}

.invaderLine3 {
  top: 140px;
}

@keyframes movinLine {
  from {left: 120px;}
  to {left: 320px;}
}


/* CSS – TRANSFORM – KAMEHAME, EARTHQUAKE IN NAMEK:) */

.lessonBoxTransform {
  width: auto;
  height: 800px;
  margin: auto;
  padding: 100px 25%;
  overflow: hidden;
  position: relative;
  /*background-image: url(picz/db/dbTransformBg.jpg);
  background-position: center;*/
}

    /* NAMEK AND GOKUSAMA */

.namek {
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  opacity: 0;
  background-image: url("../images/20170205/dbTransformBgDif.jpg");
  background-position: left;
  transition: animation 2s, opacity 2s;
}
.namekGreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  opacity: 1;
  background-image: url("../images/20170205/dbTransformBg.jpg");
  background-position: left;
  animation: earthquakeLow .075s infinite;
  animation-delay: 5s;
}

.namek,
.namekGreen,
.lessonBoxTransform {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.namek:hover {
  opacity: .85;
  animation: earthquake .075s infinite;
  animation-delay: 2s;
}

@keyframes earthquake {
  0% {
        transform: translateY(0px);
    }
  33% {
        transform: translateY(-25px);
    }
  66% {
        transform: translateY(0px);
    }
  100% {
    transform: translateY(25px);
  }
}

@keyframes earthquakeLow {
  0% {
        transform: translateY(0px);
    }
  33% {
        transform: translateY(-10px);
    }
  66% {
        transform: translateY(0px);
    }
  100% {
    transform: translateY(10px);
  }
}

.namek,
.namekGreen,
.goku,
.gokuSsj,
.kamehame {
  margin: auto;
  position: absolute;
  }

.goku,
.gokuSsj {
  width: 548px;
  height: 800px;
}

.gokuSsj {
  z-index: 1;
  opacity: 0;
  transition: opacity 2s;
  transition-timing-function: ease-in-out;
  }

.gokuSsj:hover {
  opacity: 1;
}


    /* KAMEHAME HAAAAAAAAA */

.kamehame {
  width: auto;
  height: auto;
  z-index: 2;
  top: 385px;
  left: 270px;
  overflow: hidden;
  opacity: .2;
  transition: opacity 3s, transform 3s;
  transition-timing-function: cubic-bezier(1, 0, 0, 0);
}

.kamehame:hover {
  opacity: .9;
  transform: scale(20);
}

.kamehameImg {
  width: 100px;
  height: 100px;
}
