/*
* {
  border: 1px solid red;
}
*/

p,
ul,
body,
.car,
.fulBio,
.fulCar {
  margin: 0;
}

li {
  margin: 0 0 0 15px;
}

.bio,
.main,
.menu,
.bioText,
.fulBio,
.fulCar,
.car {
  height: auto;
}

.main,
.menu,
.bioText,
.fulBio,
.fulCar,
.car {
  width: auto;
}

.fulCar,
.fulBio,
.bioText,
.titles,
.kozcim,
.car {
  font-family: Ubuntu;
  color: white;
}

.titles,
.fulBio,
.fulCar {
  padding: 0;
}

.bio,
.main,
.car {
position: relative;
}

.fulBio,
.fulCar,
.buakaw {
position: absolute;
}

.main {
  background-image: url(../images/20170208/patternAlap.jpg);
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  min-width: 400px;
  max-width: 1920px;
  padding: 50px 0;
}

.bio {
  background: linear-gradient(90deg, rgba(255, 150, 25, .5), rgba(255, 100, 25, .5));
  padding: 10px 50px 10px 10px;
  width: 400px;
  max-height: 1000px;
  margin: 0 0 50px 0;
  border-radius: 0 15px 15px 0;
  display: block;
  left: -415px;
  transition: background 1s linear, left 1s linear;
  z-index: 1;
  border: 0.5px solid white;
}

.bio:hover {
  left: 0px;
  background: linear-gradient(90deg, rgba(255, 150, 25, .65), rgba(255, 100, 25, .65));
}

.fulBio,
.fulCar {
  font-weight: 800;
  font-size: 24px;
  line-height: normal;
  transform: rotate(90deg);
}

.fulBio {
  top: 65px;
  right: -40px;
}

.fulCar {
  top: 34px;
  right: -9px;
}

.bioText {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.titles {
  font-size: 12px;
  line-height: 15px;
  list-style: circle inside;
}

.kozcim {
  font-size: 15px;
  line-height: 20px;
}

.car {
  font-weight: 400;
}

.buakaw {
  float: right;
  margin-left: 400px;
  width: 100%;
  height: 100%;
  background-image: url(../images/20170208/buakaw.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: bottom right;
  min-height: 400px;
  bottom: 0px;
  right: 0px;
}
